In [1]:
#E:\DATA ANLYST\material\homeprices.csv

import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns

In [2]:
df = pd.read_csv( 'E:\DATA ANLYST\material\salaries.csv')

In [3]:
df

       company                  job     degree  salary_more_then_100k
0       google      sales executive  bachelors                      0
1       google      sales executive    masters                      0
2       google     business manager  bachelors                      1
3       google     business manager    masters                      1
4       google  computer programmer  bachelors                      0
5       google  computer programmer    masters                      1
6   abc pharma      sales executive    masters                      0
7   abc pharma  computer programmer  bachelors                      0
8   abc pharma     business manager  bachelors                      0
9   abc pharma     business manager    masters                      1
10    facebook      sales executive  bachelors                      1
11    facebook      sales executive    masters                      1
12    facebook     business manager  bachelors                      1
13    facebook     business manager    masters                      1
14    facebook  computer programmer  bachelors                      1
15    facebook  computer programmer    masters                      1

In [ ]:
#input = df.drop( 'salary_more_then_100k' , axis =1 )
#target  = df.salary_more_then_100k

In [5]:
from sklearn.preprocessing  import LabelEncoder
le_c = LabelEncoder()
le_j = LabelEncoder() 
le_d = LabelEncoder() 

df['company_n'] = le_c.fit_transform( df['company'])
df['job_n'] = le_j.fit_transform( df['job'])
df['degree_n'] = le_c.fit_transform( df['degree'])

In [11]:
df = df.drop( ['company' , 'job'  , 'degree'] , axis = 1 )

In [14]:
input = df.drop( 'salary_more_then_100k' , axis =1 )
input

    company_n  job_n  degree_n
0           2      2         0
1           2      2         1
2           2      0         0
3           2      0         1
4           2      1         0
5           2      1         1
6           0      2         1
7           0      1         0
8           0      0         0
9           0      0         1
10          1      2         0
11          1      2         1
12          1      0         0
13          1      0         1
14          1      1         0
15          1      1         1

In [16]:
target = df.drop(['company_n','job_n' , 'degree_n']  , axis =1 )
target

    salary_more_then_100k
0                       0
1                       0
2                       1
3                       1
4                       0
5                       1
6                       0
7                       0
8                       0
9                       1
10                      1
11                      1
12                      1
13                      1
14                      1
15                      1

In [17]:
from sklearn.tree import DecisionTreeClassifier 

d_tree =  DecisionTreeClassifier() 

d_tree.fit( input , target )

DecisionTreeClassifier()

In [18]:
d_tree.score( input , target)

1.0

USING DESCISION TREES ON TITANIC DATASET

In [22]:
ice = pd.read_csv('E:\\DATA ANLYST\\material\\titanic.csv')

In [23]:
ice

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [28]:
''' 
Pclass
Sex
Age
Fare
'''

features  = ice [['Pclass' , 
'Sex', 
'Age' , 'Fare']   ]

In [35]:
lb_mex = LabelEncoder() 

features['Sex_1']  = lb_mex.fit_transform( features['Sex'])
features

C:\Users\Ayush\AppData\Local\Temp\ipykernel_25792\1696084762.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features['Sex_1']  = lb_mex.fit_transform( features['Sex'])

     Pclass     Sex   Age     Fare  Sex_n  Sex_1
0         3    male  22.0   7.2500      1      1
1         1  female  38.0  71.2833      0      0
2         3  female  26.0   7.9250      0      0
3         1  female  35.0  53.1000      0      0
4         3    male  35.0   8.0500      1      1
..      ...     ...   ...      ...    ...    ...
886       2    male  27.0  13.0000      1      1
887       1  female  19.0  30.0000      0      0
888       3  female   NaN  23.4500      0      0
889       1    male  26.0  30.0000      1      1
890       3    male  32.0   7.7500      1      1

[891 rows x 6 columns]

In [38]:
features = features.drop( [ 'Sex_1'] , axis =1 )

In [39]:
features

     Pclass   Age     Fare  Sex_n
0         3  22.0   7.2500      1
1         1  38.0  71.2833      0
2         3  26.0   7.9250      0
3         1  35.0  53.1000      0
4         3  35.0   8.0500      1
..      ...   ...      ...    ...
886       2  27.0  13.0000      1
887       1  19.0  30.0000      0
888       3   NaN  23.4500      0
889       1  26.0  30.0000      1
890       3  32.0   7.7500      1

[891 rows x 4 columns]

In [48]:
survival = ice['Survived']
survival

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [42]:
ice_dtree = DecisionTreeClassifier()

In [49]:
from sklearn.model_selection import train_test_split 
xtrn , xtst , ytrn , ytst =  train_test_split( features , survival , test_size= 0.3 )

In [53]:
ice_dtree.fit( xtrn , ytrn )

DecisionTreeClassifier()

In [54]:
ice_dtree.score( xtst , ytst )

0.7798507462686567

In [ ]:
ice_dtree.predict()