In [1]:
import pandas as pd 
import matplotlib.pyplot as plt 
import math 
import seaborn as sns 
import numpy as np

In [2]:
df = pd.read_csv( "homeprices2.csv")

In [3]:
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [11]:
med_bed = df['bedrooms'].median()
med_bed

4.0

In [14]:
df['bedrooms'] = df['bedrooms'].fillna(med_bed)
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [15]:
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [16]:
from sklearn import linear_model

In [17]:
hir = pd.read_csv( "hiring.csv")

In [18]:
hir

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    NaN                           7      72000
7     eleven                    7.0                           8      80000

In [26]:
hir['experience']  = hir['experience'].fillna( 0 )
hir

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0          0                    8.0                           9      50000
1          0                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    NaN                           7      72000
7     eleven                    7.0                           8      80000

In [22]:
pip install word2number

Defaulting to user installation because normal site-packages is not writeable
Collecting word2number
  Downloading word2number-1.1.zip (9.7 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: word2number
  Building wheel for word2number (setup.py): started
  Building wheel for word2number (setup.py): finished with status 'done'
  Created wheel for word2number: filename=word2number-1.1-py3-none-any.whl size=5589 sha256=c2da6bde904903d72822faf890e9d8941bdee907392e279772b131459c23f301
  Stored in directory: c:\users\ayush\appdata\local\pip\cache\wheels\5b\79\fb\d25928e599c7e11fe4e00d32048cd74933f34a74c633d2aea6
Successfully built word2number
Installing collected packages: word2number
Successfully installed word2number-1.1
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [24]:
from word2number import w2n

In [30]:

def convertnum( value) :
    if isinstance( value, str )  and value.isalpha() : 
        return w2n.word_to_num(value)
    return value     
    

hir['experience'] = hir['experience'].apply( convertnum )

In [31]:
hir

   experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0           0                    8.0                           9      50000
1           0                    8.0                           6      45000
2           5                    6.0                           7      60000
3           2                   10.0                          10      65000
4           7                    9.0                           6      70000
5           3                    7.0                          10      62000
6          10                    NaN                           7      72000
7          11                    7.0                           8      80000

In [40]:

kaka = hir['test_score(out of 10)'].median()
hir['test_score(out of 10)'] = hir['test_score(out of 10)'].fillna(kaka)

In [35]:
lm = linear_model.LinearRegression()

In [41]:
lm.fit( hir[['experience' ,'test_score(out of 10)' , 'interview_score(out of 10)' ]] , hir['salary($)'])

LinearRegression()

In [42]:
lm.predict( [[2,9,6]])

E:\ttttana\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([53205.96797671])

In [44]:
lm.predict([[12,10,10]])

E:\ttttana\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([92002.18340611])